@import "tailwindcss";

:root {
  --radius: 0.625rem;
  --background: #f7f7f7;
  --secondaryBackground: #efefef;
  --textColor: rgba(0, 0, 0, 0.607);
  --flat: rgb(0, 0, 0);
  --iconColor: rgba(0, 0, 0, 0.507);
  --menuBackgroundColor: #e5e7eb;
  --redColor : oklch(66.127% 0.22277 24.992);
  --themeHover : oklch(66.127% 0.22277 24.992);
  --inputBorder : #e3e3e3;
  --border : rgba(128, 128, 128, 0.166);
  --whiteBlack : white;
  --blue : rgb(0, 0, 137);
}

.dark {
  --background: #141419;
  --secondaryBackground: #282828;
  --textColor: rgba(255, 255, 255, 0.607);
  --iconColor: rgba(255, 255, 255, 0.307);
  --flat: rgb(255, 255, 255);
  --menuBackgroundColor: #2b2b2b;
  --redColor : oklch(70.4% 0.191 22.216);
  --themeHover : oklch(0% 0 0 / 0.63);
  --inputBorder : #626262;
  --border : rgba(255, 255, 255, 0.166);
  --whiteBlack : rgb(0, 0, 0);
  --blue : rgb(255, 243, 184);
}

@font-face {
  font-family: 'Bosate';
  src: url('/Basote.ttf');
}

body {
  background: var(--background);
}

.menuLogo {
  font-family: 'Bosate';
}

.cardDiv{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.cardImage img{
  transition: all 0.3s ease-in-out;
}

.card:hover .cardImage img{
  scale: 1.1;
}

.card:hover h1{
  transition: all 0.3s ease-in-out;
}

article h1{
  font-weight: bold;
  font-size: 3rem;
  line-height: 4.8rem;
  color: var(--primary-text-color);
}



article h2{
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.75;
  color: var(--primary-text-color);
  padding-top: 2rem;
}

article pre{
  border-radius: 8;
  padding: 12px;
  width: 100%;
  margin-block: 12px;
  overflow-x: scroll;
}

article code[data-line-numbers] {
  counter-reset: line;
}
article span[data-highlighted-line] {
  background-color: rgba(128, 128, 128, 0.19);
}
mark[data-highlighted-chars] {
  background-color: rgba(128, 128, 128, 0.542);
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 0.75rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 1.25rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 1.75rem;
}

code[data-line-numbers-max-digits="4"] > [data-line]::before {
  width: 2.25rem;
}

@layer components{
  .bodyPostPadding{
    @apply
    py-4 md:py-16 px-8
  }

  h1{
    @apply
    text-4xl font-bold
  }

  /* logo title */
  .menuLogo{
    @apply
    text-2xl lg:text-4xl
  }

  .padding-inLine{
    @apply
    container mx-auto py-8
    px-4 lg:px-0
  }

  .admin-padding-inLine{
    @apply
    px-8
  }
  .admin-padding-block{
    @apply
    py-16
  }

  .flex-center{
        @apply
        flex items-center justify-center
  }
  .card span, .card p{
    @apply
    text-[var(--textColor)]
  }

  .saveButton{
    @apply
    px-8 py-2 border-1 rounded-lg
    border-gray-100/20
  }

  .input{
    @apply
    border-2 p-2 px-4 rounded-lg
    border-[var(--inputBorder)] w-full
  }

  .button{
    @apply
    p-4 rounded-lg cursor-pointer
    text-[var(--background)]
    transition-all duration-300 ease-in-out
    hover:shadow-lg
  }

  .borderColor{
    @apply
    border-[var(--border)]
  }
  .background{
    @apply
    bg-[var(--menuBackgroundColor)]
  }

  .transition-Smooth{
    @apply
    transition-all duration-300
  }

}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 0.75rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 1.25rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 1.75rem;
}

code[data-line-numbers-max-digits="4"] > [data-line]::before {
  width: 2.25rem;
}

.adminNavbar h1{
  font-size: 1vw;
}